<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p></p>
        </div>
    </div>
</footer>

<!-- Global footer snippet start -->
<div id="global-footer">
    <div class="container">
        <div class="row">
            <div id="bottom-logo" class="span2">
                <a href="#">
                    <img src="https://www.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Tsinghua University"
                         width="105" height="49"/>
                </a>
            </div>
            <!-- #bottom-logo end -->
            <div id="bottom-text" class="span10">
                <ul>
                    <li class="home"><a href="#">Tsinghua Home</a></li>
                    <li class="maps alt"><a href="#">Maps &amp; Directions</a></li>
                    <li class="search-stanford"><a href="#">Search Tsinghua</a></li>
                    <li class="terms alt"><a href="#">Terms of Use</a></li>
                    <li class="emergency-info"><a href="#">Emergency Info</a></li>
                </ul>
            </div> <!-- .bottom-text end -->
            <div class="clear"></div>
            <p class="copyright vcard">We acknowledge <a href="#">Tsinghua PAC</a> for the website template.<br/>&copy;<span class="fn org">Tsinghua University</span>, <span class="adr"> <span
                        class="locality">Beijing</span>, <span class="region">Beijing</span> <span
                        class="postal-code">100084</span></span>.&nbsp;&nbsp;
                <span id="copyright-complaint"><a href="#" class="copyright-complaint">Copyright Complaints.</a></span>&nbsp;&nbsp;
            </p>
        </div> <!-- .row end -->
    </div> <!-- .container end -->
</div> <!-- global-footer end -->
<!-- Global footer snippet end -->
